.card {
  width: 150px;
  height: 150px;

  border-radius: 50%;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor: pointer;
}
.card-img {
  margin: 0;

  border-radius: 50%;

  width: 60%;
  height: 60%;

  object-fit: contain;
}
