.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;

  width: 75vw;
  max-width: 100%;
  margin: 0rem auto 0 auto; /* Center horizontally and add top margin */

  outline: 5px solid hsl(217, 16%, 45%);
  border-radius: 10px;

  padding: 1rem;
}
@media (max-width: 1200px) {
  .header-container {
    width: 85vw;
    max-width: 100%;
    margin: 0rem auto 0 auto; /* Center horizontally on desktop */
    padding: 1rem;
  }
}
@media (max-width: 1000px) {
  .header-container {
    width: 90vw;
    max-width: 100%;
    margin: 0rem auto 0 auto; /* Center horizontally on desktop */
    padding: 1rem;
  }
}
@media (max-width: 800px) {
  .header-container {
    width: 90vw;
    max-width: 100%;
    margin: 0rem auto 0 auto; /* Center horizontally on tablet */
    padding: 0.7rem;
  }
}

@media (max-width: 430px) {
  .header-container {
    width: 90vw;
    max-width: 100%;
    margin: 0rem auto 0 auto;
    padding: 0.5rem;
  }
}
