.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;

  width: 100%;

  outline: 3px solid hsl(217, 16%, 45%);
  border-radius: 5px;

  padding: 1rem;
}

@media (max-width: 800px) {
  .header-container {
    width: 70%;
    margin-top: 1rem;
    margin-left: 3.5rem;
  }
}
