/* src/components/RulesModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;

  cursor: default;
}

.modal-box {
  background-color: white;

  border-radius: 8px;

  padding: 1.5rem;

  width: 320px;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

  position: relative;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #3b4363;
  margin-bottom: 1rem;
}

.modal-header h2 {
  font-size: 1.5rem;
}

.close-button {
  background: none;
  border: none;

  font-size: 1.2rem;
  cursor: pointer;

  opacity: 50%;
}

.modal-content img {
  max-width: 100%;
  height: auto;
}
